html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  font-family: Helvetica, Arial, sans-serif;
  color: #4D4D4D;
  font-size: 1em;
}
header {
  text-align: right;
  padding: 0 10px;
}
h1 {
  font-size: 1.7rem;
}
h3 {
  display: inline-block;
  width: 50%;
  font-size: 1.5rem;
  padding-left: 10px;
}
h3:hover {
  text-decoration: underline;
}
p {
  display: inline-block;
  width: 50%;
  font-size: .7rem;
  font-style: italic;
  text-align: right;
  margin: 0;
  padding-right: 10px;
}
a {
  color: #4D4D4D;
}
.palette{
  margin: 20px auto;
  border: solid 1px #6D6D6D;
  border-radius: 0 0 11px 11px;
}
.color:first-of-type {
  border-radius: 0 0 0 10px;
}
.color  {
  display: inline-block;
  height: 70px;
  width: 20%;
  border-top: solid 1px #6D6D6D;
}
.color:last-of-type {
  border-radius: 0 0 10px 0;
}
.hex {
  display: block;
  margin: 18px auto;
  height: 35px;
  width: 50%;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
}
.hex:hover {
  color: #4D4D4D;
  background: rgba(130, 130, 130, 0.8);
}
